#triggerWorkflowButton{
    border-radius: 10px;
}


.header{
    display: flex;
}

.hero{
    display: flex;
    justify-content: center;
}

.workflow-container{
    display: flex;
    justify-content: center;
}

.workflow{
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    max-height: 20vh;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
}

#robot{
    height: 10vh;
    width: auto;
}